<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">

    <title>{{ page_title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
    {{ content_for_header }}
    {{ settings.heading_font | font_face: display: 'swap' }}
    {{ settings.body_font | font_face: display: 'swap' }}

    {{ 'style.css.liquid' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
  <script>
    {
      {
        'script.js' | asset_url | script_tag;
      }
    }
  </script>
</html>
