<style>
    .page-wrap{
      display:flex;
      flex-direction:column;
      gap:20px;
    }
</style>


<div class="page-wrap">
    <h1>{{ section.settings.heading_text }} </h1>
    <p>{{ section.settings.description }}</p>
    <img 
  src="{{ section.settings.image | img_url: 'master' }}" 
  alt="{{ section.settings.heading_text | escape }}">
    <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
    {% if section.settings.number > 0 %}
        {{ section.settings.number }}
    {% endif %}
</div>

{% schema %}
{
   "name" :"Simple Section",
   "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading",
      "default": "General Heading",
    },
    {
       "type": "richtext",
       "id": "description",
       "label": "Description",
       "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
    },
    {
       "type": "text",
       "id": "button_text",
       "label": "Button Text",
       "default": "Button Text",
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "Button Url",
    },
    {
       "type": "number",
       "id": "number",
       "label": "Number",
       "default" : 2563,
    }
   ],
   "blocks": [],
   "presets": [
    {
     "name": "Simple Text",

    }
   ]
}
{% endschema %}